@model WebFerreteria.Models.Usuarios.LoginModel

@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Gestión de Ferretería</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="~/materialize/css/materialize.min.css" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="~/css/theme_style.css" asp-append-version="true" />


    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>

<body class="blue lighten-5">
    @* este index quedo pelon *@

        @* este index quedo pelon *@
            @* este index quedo pelon *@
                @* este index quedo pelon *@
    @* este index quedo pelon *@
    @* este index quedo pelon *@

    @section Scripts {
        <!-- jQuery y Materialize JS -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/materialize/js/materialize.min.js"></script>

        <!-- Scripts de validación -->
        <partial name="_ValidationScriptsPartial" />

        <!-- Inicialización de componentes Materialize -->
        <script>
            $(document).ready(function(){
                // Inicializar elementos de Materialize
                M.updateTextFields();
            });
        </script>
    }
</body>
</html>