@model WebFerreteria.Models.Usuarios

@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Gestión de Ferretería</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="~/materialize/css/materialize.min.css" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="~/css/theme_style.css" asp-append-version="true" />


    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>

<body class="blue lighten-5">

    <div class="row">
        <div class="col s12">
            <div class="card-panel blue lighten-1 center-align">
                <h1 class="white-text">¡Bienvenidos a Ferretería La Puntilla!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 center-align">
            <img src="~/images/Home_index/ferreteria_home.jpg" alt="Home Ferretería La Puntilla" class="responsive-img">
        </div>
        <div class="row">
            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Sistema de gestión de Ferreteria</span>
                        <p>
                            Este es nuestro sistema de gestion integral para control de ferreteria.
                            Los perfiles se defienen para administradores y usuarios de la aplicación.
                            Recuerda que los usuarios son personales e intransferibles. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        <!-- jQuery y Materialize JS -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/materialize/js/materialize.min.js"></script>

        <!-- Scripts de validación -->
        <partial name="_ValidationScriptsPartial" />

        <!-- Inicialización de componentes Materialize -->
        <script>
            $(document).ready(function(){
                // Inicializar elementos de Materialize
                M.updateTextFields();
            });
        </script>
    }
</body>
</html>