@model WebFerreteria.Models.Pedidos

@{
    ViewData["Title"] = "Detalles del Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="details-title">
        <i class="material-icons left"></i> Detalles del Pedido
    </h4>

    <div class="card details-card white z-depth-2">
        <div class="card-content">
            <dl class="row details-list">
                <div class="col s12 m6">
                    <dt><i class="material-icons tiny">event</i> Fecha del Pedido</dt>

                    <dt><i class="material-icons tiny">assignment</i> Estado</dt>
                    <dd>@Model.Estado</dd>
                </div>

                <div class="col s12 m6">
                    <dt><i class="material-icons tiny">person</i> Cliente</dt>
                    <dd>
                        @if (Model.Cliente != null)
                        {
                            @Model.Cliente.Nombre
                        }
                        else
                        {
                            <em>Cliente no disponible</em>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="row btn-group">
        <div class="col s12">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-large blue darken-2 waves-effect waves-light">
                <i class="material-icons left">edit</i> Editar
            </a>
            <a asp-action="Index" class="btn-large grey darken-1 waves-effect waves-light">
                <i class="material-icons left">arrow_back</i> Regresar
            </a>
        </div>
    </div>
</div>
