@model WebFerreteria.Models.Productos

@{
    ViewData["Title"] = "Eliminar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h4 class="edit-title black-text text-darken-2">¿Estás seguro de eliminar este producto?</h4>
    <div class="card white z-depth-2">
        <div class="card-content">
            <ul class="collection with-header">

                <li class="collection-header">
                    <h5><i class="material-icons left">shopping_cart</i>Nombre</h5>
                </li>
                <li class="collection-item">@Model.Nombre</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">description</i>Descripción</h5>
                </li>
                <li class="collection-item">@Model.Descripcion</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">attach_money</i>Precio</h5>
                </li>
                <li class="collection-item">@Model.Precio</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">format_list_numbered</i>Cantidad</h5>
                </li>
                <li class="collection-item">@Model.Cantidad</li>

            </ul>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="row btn-group">
                    <div class="col s12">
                        <button type="submit" class="btn-large blue tooltipped">
                            <i class="material-icons left">delete</i> Eliminar
                        </button>
                        <a asp-action="Index" class="btn-large grey darken-1 waves-effect waves-light">
                            <i class="material-icons left">arrow_back</i> Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
