@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 center-align">
            <div class="card-panel red lighten-4">
                <h4 class="red-text">Acceso Denegado</h4>
                <p>No tienes permisos para acceder a esta sección.</p>
                <a asp-controller="Home" asp-action="Index" class="btn waves-effect waves-light blue">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>