@model WebFerreteria.Models.Facturas

@{
    ViewData["Title"] = "Eliminar Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h4 class="edit-title black-text text-darken-2">¿Estás seguro de eliminar esta factura?</h4>
    <div class="card white z-depth-2">
        <div class="card-content">
            <ul class="collection with-header">

                <li class="collection-header">
                    <h5><i class="material-icons left">calendar_today</i>Fecha</h5>
                </li>
                <li class="collection-item">@Model.Fecha</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">attach_money</i>Total</h5>
                </li>
                <li class="collection-item">@Model.Total</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">description</i>Pedido</h5>
                </li>
                <li class="collection-item">@Model.Pedido.Id</li>

            </ul>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="row btn-group">
                    <div class="col s12">
                        <button type="submit" class="btn-large blue tooltipped">
                            <i class="material-icons left">delete</i> Eliminar
                        </button>
                        <a asp-action="Index" class="btn-large grey darken-1 waves-effect waves-light">
                            <i class="material-icons left">arrow_back</i> Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
